#tulisan {
  color:#4B3500 10px;
}
.box {
  background: #87F7D3;
  padding: 2px;
}
body {
  background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fvmi.co.id%2Fcara-berinvestasi-properti-yang-harus-anda-ketahui%2F&psig=AOvVaw1DXPbuodpXNxG2Y9Gc66Tf&ust=1694399484028000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCPi05umIn4EDFQAAAAAdAAAAABAD');
  color: #fff;
}
